#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background: #ff512f; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#dd2476,
		#ff512f
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #dd2476, #ff512f);
}

.App {
	width: 600px;
  display: flex;
  height: 95vh;
  justify-content: space-around;
  flex-direction: column;
  background: #ffff;
  border-radius: 10px;
  padding: 0px 2em;
}

form {
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
}

input {
	background: #f9f9f9;
	padding: 10px;
	width: 94%;
	border: none;
	margin-bottom: 20px;
	font-size: 14px;
	color: rgb(0, 0, 0);
	outline: none;
	font-weight: 300;
}

.rccs__card--unknown > div {
	background: #75c9a5;
}

button{
  /*background: #ff512f;
	background: -webkit-linear-gradient(
		to right,
		#dd2476,
		#ff512f
	); 
	background: linear-gradient(to right, #dd2476, #ff512f);
  border: none;*/
  background: transparent;
  border: 1px solid #dd2476;
  padding:10px 20px;
  color: #dd2476;
  transition: all 0.6s ease;
  font-size: 14px;
  font-weight: bold;
}
button:hover, button:focus{
  background: #dd2476; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ff512f,
		#dd2476
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff512f, #dd2476);
  color: #fff;
}
.w-100{
  width: 100%;
}
.hide{
  display: none;
}
